{% extends 'main_app/base.html' %}




{% block link%}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/sign-in">SingIn</a>
    <a class="nav-link" href="/sign-up">SignUp</a>
    <a class="nav-link" href="/log-out">LogOut</a> 
{% endblock %}



{% block content%}
    <h1 class="cover-heading" >Аля, привет;*</h1>
    <div class="lead">
        <h3 class="cover-heading">Here you can:</h3>
        <div class="lead row">
            <ul>
                <h3>For candidate:</h3>
                    <li>Find job</li>
                    <li>Know about salary in different areas</li>
                    <li>Learn requirement of employers</li>
                <a href="/vacancy" class="btn btn-lg btn-secondary">Vacancies</a>
            </ul>
            <ul class="raz">
                <h3 >For emploer:</h3>
                    <li>Find workers</li>
                    <li>Read CV of candidate</li>
                    <li>Advertise your company</li>
            <a href="/resume" class="btn btn-lg btn-secondary">Resumes</a>
            <ul>
            </p>
        </div>
{% endblock %}
