{% extends 'main_app/base.html' %}





{% block link %}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/sign-in">SingIn</a>
    <a class="nav-link active" href="/sign-up">SignUp</a>
    <a class="nav-link" href="/log-out">LogOut</a> 
{% endblock %}




{% block content %}
    <div class="lead">
    <form method="post" action="/sign-up/">{% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit" class="btn btn-lg btn-secondary">Login</button>
    </form>
{% endblock %}
