{% extends 'main_app/base.html' %}




{% block style %}
    .form-signin {
      width: 100%;
      max-width: 500px;
      padding: 15px;
      margin: auto;
    }
{% endblock %}


{% block link %}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link active" href="/sign-in">SingIn</a>
    <a class="nav-link" href="/sign-up">SignUp</a>        
    <a class="nav-link" href="/log-out">LogOut</a> 
{% endblock %}




{% block content %}        
<div class="lead form-signin">
    <form method="post" action="/sign-in/">{% csrf_token %}
            <ul><h4>{{ form.as_table }}</h4></ul>
            <button type="submit" class="btn btn-lg btn-secondary">Login</button>
    </form>
</div>
{% endblock %}









