{% extends 'main_app/base.html' %}



{% block style %}
    .form-signin {
      width: 100%;
      max-width: 500px;
      padding: 20px;
      margin: auto;
    }
    .desc{
    width: 230px; /* Ширина блока */
    padding: 10px; /* Поля */
    font-size: 1.5em; /* Размер шрифта */
    word-wrap: break-word;
    }
{% endblock %}





{% block link %}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/sign-in">SingIn</a>
    <a class="nav-link" href="/sign-up">SignUp</a>
    <a class="nav-link" href="/log-out">LogOut</a>
{% endblock %}






{% block content %}
<h3 Align=Center class="form-signin row">
        <form action="/home/" method="post">{% csrf_token %}
        <p>Title<p>
        <input type="text" name="title">
        <p>Description your resume</p>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
        </div>
        <p><button type="submit">Create</button><p>
    </form>
    </h3>        
{% endblock %}
