{% extends 'main_app/base.html' %}




{% block link %}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/sign-in">SingIn</a>
    <a class="nav-link" href="/sign-up">SignUp</a>
    <a class="nav-link" href="/log-out">LogOut</a> 
{% endblock %}




{% block content %}
    <div class="lead">
        <form action="" method="get">
            <input type="search" name="q" placeholder="Search title">
            <button type="submit" class=" btn btn-lg btn-secondary">Search</button> 
        </form>
        {% for elem in vacancies %}
            <p>{{elem.title}}<p>
        {% endfor %}
        </div>
{% endblock %}
