{% extends 'main_app/base.html' %}




{% block link %}
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/sign-in">SingIn</a>
    <a class="nav-link" href="/sign-up">SignUp</a>
    <a class="nav-link" href="/log-out">LogOut</a> 
{% endblock %}


   
{% block content %}
    <form action="/home/" method="post">{% csrf_token %}
            <p>Title<p>
            <input type="text" name="title">
            <p>Description your vacancy</p>
            <input type="text" name="description">
            <p><button type="submit">Create</button><p>
 endblock %}

